:root{
	/* 代码块 */
	.md-fences::before {
	  content: "";
	  display: block;
	  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNDUwcHgiIGhlaWdodD0iMTMwcHgiPgogIDxlbGxpcHNlIGN4PSI2NSIgY3k9IjY1IiByeD0iNTAiIHJ5PSI1MiIgc3Ryb2tlPSJyZ2IoMjIwLDYwLDU0KSIgc3Ryb2tlLXdpZHRoPSIyIiBmaWxsPSJyZ2IoMjM3LDEwOCw5NikiLz4KICA8ZWxsaXBzZSBjeD0iMjI1IiBjeT0iNjUiIHJ4PSI1MCIgcnk9IjUyIiAgc3Ryb2tlPSJyZ2IoMjE4LDE1MSwzMykiIHN0cm9rZS13aWR0aD0iMiIgZmlsbD0icmdiKDI0NywxOTMsODEpIi8+CiAgPGVsbGlwc2UgY3g9IjM4NSIgY3k9IjY1IiByeD0iNTAiIHJ5PSI1MiIgIHN0cm9rZT0icmdiKDI3LDE2MSwzNykiIHN0cm9rZS13aWR0aD0iMiIgZmlsbD0icmdiKDEwMCwyMDAsODYpIi8+Cjwvc3ZnPg==);
	  height: 30px;
	  width: 100%;
	  background-size: 40px;
	  background-repeat: no-repeat;
	  background-color: #454649;
	  border-top-left-radius: 5px;
	  border-top-right-radius: 5px;
	  background-position: 6px 10px;
	}
	
	/* CodeMirror 相关内容 */
	.CodeMirror-wrap .CodeMirror-scroll {
	  overflow-x: auto;
	}
	.cm-s-inner.CodeMirror {
	  padding: .5rem;
	  background-color: #454649;
	  color: #e9e9e9;
	  font-family: Cascadia Code, Fira Code, JetBrains Momo, Consolas;
	  border-bottom-left-radius: 5px;
	  border-bottom-right-radius: 5px;
	  
	}
	.cm-s-inner .cm-keyword {
	  color: #c792ea !important;
	}
	.cm-s-inner .cm-operator {
	  color: #89ddff !important;
	}
	.cm-s-inner .cm-variable-2 {
	  color: #eeffff !important;
	}
	.cm-s-inner .cm-variable-3,
	.cm-s-inner .cm-type {
	  color: #f07178 !important;
	}
	.cm-s-inner .cm-builtin {
	  color: #ffcb6b !important;
	}
	.cm-s-inner .cm-atom {
	  color: #f78c6c !important;
	}
	.cm-s-inner .cm-number {
	  color: #ff5370 !important;
	}
	.cm-s-inner .cm-def {
	  color: #82aaff !important;
	}
	.cm-s-inner .cm-string {
	  color: #c3e88d !important;
	}
	.cm-s-inner .cm-string-2 {
	  color: #f07178 !important;
	}
	.cm-s-inner .cm-comment {
	  color: #676e95 !important;
	}
	.cm-s-inner .cm-variable {
	  color: #f07178 !important;
	}
	.cm-s-inner .cm-tag {
	  color: #ff5370 !important;
	}
	.cm-s-inner .cm-meta {
	  color: #ffcb6b !important;
	}
	.cm-s-inner .cm-attribute {
	  color: #c792ea !important;
	}
	.cm-s-inner .cm-property {
	  color: #c792ea !important;
	}
	.cm-s-inner .cm-qualifier {
	  color: #decb6b !important;
	}
	.cm-s-inner .cm-variable-3,
	.cm-s-inner .cm-type {
	  color: #decb6b !important;
	}
	.cm-s-inner .cm-error {
	  color: rgba(255, 255, 255, 1) !important;
	  background-color: #ff5370 !important;
	}
	.cm-s-inner .CodeMirror-matchingbracket {
	  text-decoration: underline;
	  color: white !important;
	}
	.CodeMirror div.CodeMirror-cursor {
	  border-left: 1px solid rgb(239, 112, 96);
	  z-index: 3;
	}
	
	.cm-s-inner div.CodeMirror-selected {
	  background: rgba(167, 178, 189, 0.2) !important;
	}
	
	.cm-s-inner.CodeMirror-focused div.CodeMirror-selected {
	  background: rgba(167, 178, 189, 0.2) !important;
	}
	
	.cm-s-inner .CodeMirror-selected,
	.cm-s-inner .CodeMirror-selectedtext {
	  background-color: rgba(167, 178, 189, 0.0) !important;
	}
	
	.cm-s-inner .CodeMirror-line::-moz-selection,
	.cm-s-inner .CodeMirror-line > span::-moz-selection,
	.cm-s-inner .CodeMirror-line > span > span::-moz-selection {
	  background-color: rgba(167, 178, 189, 0.2);
	}
	
	.cm-s-inner .CodeMirror-line::selection,
	.cm-s-inner .CodeMirror-line > span::selection,
	.cm-s-inner .CodeMirror-line > span > span::selection {
	  background-color: rgba(167, 178, 189, 0.2);
	}
}