:root {
  --mermaid-theme: night;
}

[lang='mermaid'] .label {
  color: #333;
}

body {
	background: #262626;
	background-color: #262626; /* 您的背景颜色 */
	background-image: url('./52pojie_1920x1080.jpg'); /* 您的背景图像路径 */
	background-size: cover; /* 覆盖整个元素 */
	background-repeat: no-repeat; /* 不重复背景图像 */
	background-position: center center; /* 背景图像居中 */
	background-attachment: fixed; /* 背景图像固定，不随页面滚动 */
	display: flex; /* 使用flex布局使内容居中 */
	height: 100vh; /* 设置身体的高度为视口的高度 */
	align-items: center; /* 垂直居中内容 */
	justify-content: center; /* 水平居中内容 */
}
/* 软件内部Markdown样式 */
#write {
	font-size: 1rem;
	word-spacing: 0px;
	letter-spacing: 0px;
	max-width: 900px;
	padding: 10px;
	line-height: 1.6;
	font-size: 1rem;
	color: #fffefa;
	word-break: break-word;
	word-wrap: break-word;
	text-align: left;
    font-family: MiSans, Microsoft YaHei, Open Sans, serif, Cascadia Code, Fira Code, JetBrains Momo, MesloLGS NF;
}

/*段落*/
#write + p, 
#write blockquote p {
  font-size: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin: 0;
  line-height: 1.5rem;
  color: #fffefa;
}

#write div[mdtype=toc] {
  font-size: 1rem;
}

